#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#mapid { 
  height: 500px;
  width: 900px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

#stations{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.block-station{
  margin:20px;
  padding: 10px;
  height: 320px;
  width: 250px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

h2 {
  color:rgb(12, 58, 12);
}

h4 {
  color: rgb(34, 34, 116);
}

strong {
  font-size: x-large;
}