#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 248, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

/* PETITS ECRANS */
@media only screen and (max-width: 1040px) {
  #mapid { 
    height: 325px;
    width: 550px;
  }

  #root {
    padding: 5%;
  }
}

/* GRANDS ECRANS */
@media only screen and (min-width: 1041px) {
  #mapid { 
    height: 600px;
    width: 1000px;
  }

  #root {
    width: 100vw;
  }
}

#mapid { 
  margin: auto;
  border-radius: 12px;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.4);
}

h1 {
  color:rgb(1, 60, 77);
}

.line-station {
  height: 2em;
  width: 45em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(145, 145, 145);
  font-weight: bold;
}

.height3 {
  height: 3em;
}

.name-station {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 23em;
  height: 2em;
}

.velib-mechanical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 11em;
  border-right: 1px solid rgb(145, 145, 145);
  border-left: 1px solid rgb(145, 145, 145);
}

.velib-ebike {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 11em;
}

.colored {
  background-color: rgb(224, 241, 255);
}

.italique {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}

.unavailable {
  color: rgb(170, 50, 50);
  font-weight: lighter;
  background-color: rgb(240, 240, 240);
}

.footer {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9em;
  color: rgb(56, 56, 112);
}

.count button {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  margin-top: -1em;
  margin-bottom: 1em;
}

.font-xl {
  font-size: x-large;
}

.stop-count {
  color: rgb(201, 201, 201);
}

.count button:focus {
  outline: 2px solid transparent;
}

.gray {
  color: rgb(99, 99, 99);
}