@font-face {
  font-family: "Astrolab";
  src: url("../../assets/font/Astrolab.ttf") format("truetype");
}

#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 248, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#mapid { 
  height: 600px;
  width: 1000px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  color:rgb(1, 60, 77);
}

.line-station {
  height: 2em;
  width: 45em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(145, 145, 145);
  font-weight: bold;
}

.height3 {
  height: 3em;
}

.name-station {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 23em;
  height: 2em;
}

.velib-mechanical {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 11em;
  border-right: 1px solid rgb(145, 145, 145);
  border-left: 1px solid rgb(145, 145, 145);
}

.velib-ebike {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 11em;
}

.colored {
  background-color: rgb(253, 236, 213);
}

.italique {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}

.unavailable {
  color: rgb(114, 99, 99);
  font-weight: lighter;
  background-color: rgb(230, 224, 215);
}

.footer {
  font-family: Astrolab;
  font-size: 0.6em;
  color: rgb(56, 56, 112);
}
